@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyBackgroundColor: #1b143f;
}

body {
  background: var(--bodyBackgroundColor);
}

.body-bg {
  background: #1b143f;
}

.custom-container {
  width: min(90%, 1280px);
  margin-inline: auto;
}

.lecture-container {
  width: min(90%, 1800px);
  margin-inline: auto;
}
